body {
    background: linear-gradient(to bottom, #c1c4c4, #bac5c5, #b3c5c7, #acc6c9, #a4c6cb, #9ec5cb, #97c5cb, #90c4cb, #89c3c7, #83c1c3, #7dc0bf, #77beba) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.card {
    border: none;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    overflow: hidden;
    border-radius: 10px;
    min-height: 450px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);

    @media (max-width: 768px) {
        min-height: 350px;
    }

    @media (max-width: 420px) {
        min-height: 300px;
    }
}

/* sidebar start  */

#sidebar {
    float: left;
    background: #fff;
    width: 100%;
    padding: 13px 0 0 45px;
    height: 300px;
    border: 1px solid #eee;
}

h3 {
    color: #262626;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    padding: 35px 0 10px 0;
    letter-spacing: 1px;
    clear: both;
}

#sidebar .checklist {
    padding: 0;
}

.checklist ul li {
    font-size: 14px;
    font-weight: 400;
    list-style: none;
    padding: 7px 0 7px 23px;
}

.checklist li span {
    float: left;
    width: 11px;
    height: 11px;
    margin-left: -23px;
    margin-top: 4px;
    border: 1px solid #d1d3d7;
    position: relative;
}

.checklist li a {
    color: #676a74;
    text-decoration: none;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.checklist li a:hover {
    color: #222;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.checklist a:hover span {
    border-color: #a6aab3;
}

.categories a:hover span {
    border-color: #a6aab3;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.checklist a span span {
    border: none;
    margin: 0;
    float: none;
    position: absolute;
    top: 0;
    left: 0;
}

.checklist a .x {
    display: block;
    width: 0;
    height: 2px;
    background: #5ff7d2;
    top: 6px;
    left: 2px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 50ms ease-out;
}

.checklist a .x.animate {
    width: 4px;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    -ms-transition: all 100ms ease-in;
    -o-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
}

.checklist a .y {
    display: block;
    width: 0px;
    height: 2px;
    background: #5ff7d2;
    top: 4px;
    left: 3px;
    -ms-transform: rotate(13deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    -webkit-transition: all 50ms ease-out;
}

.checklist a .y.animate {
    width: 8px;
    -webkit-transition: all 100ms ease-out;
    -moz-transition: all 100ms ease-out;
    -ms-transition: all 100ms ease-out;
    -o-transition: all 100ms ease-out;
    transition: all 100ms ease-out;
}

.checklist .checked span {
    border-color: #8d939f;
}

#sidebar img {
    margin-top: 6px;
}

/* sidebar emd  */

/* products/services start  */

.shp {
    background: #fff;
    width: 100%;
    padding: 13px 0 0 45px;
    height: 100%;
    border: 1px solid #eee;
}



/* products/services end  */


/* search start */

.search {
    width: 100%;
    margin-bottom: auto;
    margin-top: 20px;
    height: 50px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #eee;
}

.search-input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    margin-top: 5px;
    caret-color: transparent;
    line-height: 20px;
    transition: width 0.4s linear
}

.search .search-input {
    padding: 0 10px;
    width: 100%;
    caret-color: #536bf6;
    font-size: 19px;
    font-weight: 300;
    color: black;
    transition: width 0.4s linear;
}


.search-icon {
    height: 34px;
    width: 34px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #536bf6;
    font-size: 10px;
    bottom: 30px;
    position: relative;
    border-radius: 5px;
}

.search-icon:hover {

    color: #fff !important;
}

a:link {
    text-decoration: none
}


/* search end  */
