@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Poppins'sans-serif;
}

.left-col {
    float: left;
    width: 25%;
}

.center-col {
    float: left;
    width: 50%;
}

.right-col {
    float: left;
    width: 25%;
}

@media only screen and (min-width:1200px) {
    .nav-item>.nav-link {
        padding: 5px 20px !important;
        display: block !important;
    }
}

@media only screen and (max-width:992px) {
    .header-inner {
        background-color: white !important;
    }

    .nav-item>.nav-link {
        color: black !important
    }

    .logo {
        color: #000 !important;
        font-weight: 700 !important;
    }

    .content-banner .first-title {
        font-size: 30px !important;
    }
}

.content-banner {
    color: #ffffff;
    min-height: 400px;
    height: 100%;
    position: relative;
    background-position: center center;
    background-size: cover;
    padding-top: 125px;
}

.content-banner:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(57, 49, 49, 0.5);
    top: 0;
    left: 0;
    z-index: 1;
}

.content-banner .first-title {
    font-size: 44px;
    font-weight: 700;
    line-height: 1.2;
    position: relative;
    z-index: 2;
    margin: 0px 0px 12px;
}

.content-banner .banner-des {
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0;
    position: relative;
    z-index: 2;
    font-weight: 500;
    margin-top: 0;
}

.banner-btn {
    padding: 0 34px;
    z-index: 1;
    margin: 30px auto 25px;
    line-height: 56px;
    position: relative;
    border-radius: 6px;
    height: 56px;
    font-size: 16px;
    background-image: linear-gradient(to right, #30cfd0 0%, #330867 100%);
    display: inline-block;
    color: #ffffff;
    transition: 0.3s;
    text-align: center;

}

.banner-btn:hover {
    text-decoration: none;
    color: #fe4066;
    background-color: white;
}


.header {
    position: relative;
    width: 100%;
}

.header-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: transparent;
}

.logo {
    font-weight: 700;
    color: #ffffff;
}

.nav-item .nav-link {
    display: block;
    line-height: 36px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    transition: 0.15s;
}

.nav-item .nav-link:hover {
    color: #ffffff;
}

.header-btn {
    color: #ffffff;
    border-radius: 30px;
    background-color: gray;
    border: none;
    font-weight: 500;
    outline: none;
    font-size: 15px;
    padding: 7px 22px;
    transition: 0.5s;
}

.header-btn:hover {
    background-image: linear-gradient(to right, #30cfd0 0%, #330867 100%);
    cursor: pointer;
}

.navbar-scroll {
    background-color: #ffffff;
    padding: 0;
    position: fixed;
    top: 0;
    z-index: 99;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
    transition-duration: 0.6s;
}

.navbar-scroll .nav-item .nav-link {
    color: black;
}

.navbar-scroll .header-btn {
    color: #ffffff;
    background-image: linear-gradient(to right, #30cfd0 0%, #330867 100%);
    opacity: 0.6;
}

.navbar-scroll .logo {
    color: #000;
    font-weight: 700;
}

.first-title {
    text-transform: capitalize;
}

section {
    background-color: white;
    padding: 4rem 0rem 4rem;
}

.features-area {
    background-image: linear-gradient(335deg, #13547a 0%, #80d0c7 100%);
    color: white;
}

/* start features area css
============================================================================================ */
@media (max-width: 768px) {
    .features-area {
        padding-top: 0;
    }
}

.features-area .col-lg-3:last-child .single-features {
    border-right: 0;
}

@media (max-width: 575px) {
    .features-area .col-lg-3:last-child .single-features {
        margin-top: 30px;
    }
}

.features-area .col-lg-3:nth-child(3) .single-features,
.features-area .col-lg-3:nth-child(4) .single-features {
    margin-bottom: 0;
}

.features-inner {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    padding: 40px 0;
}

.single-features {
    text-align: center;
    border-right: 1px solid #eeeeee;
}

@media (max-width: 991px) {
    .single-features {
        border-right: none;
        margin-bottom: 30px;
    }
}

.single-features .f-icon {
    margin-bottom: 20px;
}

.single-features .f-icon img {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.single-features h6 {
    font-size: 16px;
    margin-bottom: 0;
}

.single-features p {
    margin-bottom: 0;
}

.single-features:hover .f-icon img {
    opacity: .5;
}

/* start features area css
  ============================================================================================ */




/* order details (DATATABLES CSS) features area css
  ============================================================================================ */
.order_details_table {
    background: #e5ecee;
    padding: 30px;
    margin-top: 75px;
}

@media (min-width: 767px) {
    .order_details_table {
        margin-top: 45px;
    }
}

.order_details_table h2 {
    color: #222222;
    font-size: 18px;
    padding-bottom: 15px;
}

.order_details_table .table {
    margin-bottom: 0px;
}

.order_details_table .table thead tr th {
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: normal;
}

.order_details_table .table tbody tr td p {
    margin-bottom: 0px;
}

.order_details_table .table tbody tr td h5 {
    color: #222222;
    margin-bottom: 0px;
}

.order_details_table .table tbody tr td h4 {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 0px;
    color: #222222;
}

.order_details_table .table tbody tr:last-child td {
    border-top: 1px solid #ddd;
}

.order_details_table .table tbody tr:last-child td p {
    color: #222222;
}


/* order details features area css
  ============================================================================================ */


/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/

.port {
    height: 250px;
    width: 500px;
}

.portfolio .portfolio-item {
    margin-bottom: 30px;
}

.portfolio #portfolio-flters {
    padding: 0;
    margin: 0 auto 35px auto;
    list-style: none;
    text-align: center;
    border-radius: 50px;
    padding: 2px 15px;
}

.portfolio #portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color: #444444;
    transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
    color: #4eb478;
}

.portfolio #portfolio-flters li:last-child {
    margin-right: 0;
}

.portfolio .portfolio-wrap {
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.portfolio .portfolio-wrap::before {
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 30px;
    right: 30px;
    top: 30px;
    bottom: 30px;
    transition: all ease-in-out 0.3s;
    z-index: 2;
    opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-info {
    opacity: 0;
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3;
    transition: all ease-in-out 0.3s;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
}

.portfolio .portfolio-wrap .portfolio-links {
    opacity: 0;
    left: 0;
    right: 0;
    bottom: 10%;
    text-align: center;
    z-index: 3;
    position: absolute;
    transition: all ease-in-out 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a {
    color: #fff;
    margin: 0 2px;
    font-size: 28px;
    display: inline-block;
    transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
    background: linear-gradient(335deg, #13547a 0%, #80d0c7 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.portfolio .portfolio-wrap:hover::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info {
    opacity: 1;
    top: calc(50% - 48px);
}

.portfolio .portfolio-wrap:hover .portfolio-links {
    opacity: 1;
    bottom: calc(50% - 50px);
}

/*--------------------------------------------------------------
  # Portfolio Details
  --------------------------------------------------------------*/
.portfolio-details {
    padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
    width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #4eb478;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
    background-color: linear-gradient(335deg, #13547a 0%, #80d0c7 100%);
}

.portfolio-details .portfolio-info {
    padding: 30px;
    box-shadow: 0px 0 30px rgba(68, 68, 68, 0.08);
}

.portfolio-details .portfolio-info h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
    margin-top: 10px;
}

.portfolio-details .portfolio-description {
    padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
    padding: 0;
}


/* END OF PORTFOLIO  */

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    padding: 60px 0;
    overflow: hidden;
}

.section-bg {
    background-color: #fafdfb;
}

.section-title {
    text-align: center;
    padding: 30px 0;
    position: relative;
}

.section-title h2 {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 0;
    background: linear-gradient(335deg, #13547a 0%, #80d0c7 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    position: relative;
    z-index: 2;
}

.section-title span {
    position: absolute;
    top: 30px;
    color: #f4f4f4;
    left: 0;
    right: 0;
    z-index: 1;
    font-weight: 700;
    font-size: 52px;
    text-transform: uppercase;
    line-height: 0;
}

.section-title p {
    margin-bottom: 0;
    position: relative;
    z-index: 2;
}

@media (max-width: 575px) {
    .section-title h2 {
        font-size: 28px;
        margin-bottom: 15px;
    }

    .section-title span {
        font-size: 38px;
    }
}

/* SECTION END  */
