.order_details_table {
    background: #e5ecee;
    padding: 30px;
    margin-top: 75px;
}

@media (min-width: 767px) {
    .order_details_table {
        margin-top: 45px;
    }
}

.order_details_table h2 {
    color: #222222;
    font-size: 18px;
    padding-bottom: 15px;
}

.order_details_table .table {
    margin-bottom: 0px;
}

.order_details_table .table thead tr th {
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
}

.order_details_table .table tbody tr td p {
    margin-bottom: 0px;
}

.order_details_table .table tbody tr td h5 {
    color: #222222;
    margin-bottom: 0px;
}

.order_details_table .table tbody tr td h4 {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 0px;
    color: #222222;
}

.order_details_table .table tbody tr:last-child td {
    border-top: 1px solid #ddd;
}

.order_details_table .table tbody tr:last-child td p {
    color: #222222;
}
